
h1{
    font-family: "Segoe UI";
    font-weight: bold;
    letter-spacing: 0.25em;
    color: #f2d349;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}

.concept{
    margin-top: 50px;
}

.lorem{
    display: flex;
    justify-content: center;
    align-items: center;
}

video{
    width: 450px;
    height: 270px;
    border-radius: 9px;
}


.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.container .card{
    position: relative;
    max-width: 250px;
    height: 130px;
    background: linear-gradient(to right, #187b5d, #1F9F78);
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .2);
    transition: 0.3s ease-in-out;
}

.container .card:hover{
    height: 300px;
}

.container .card .image-box{
    position: relative;
    width: 100%;
    margin: 0 auto;
    top: -60px;
    z-index: 1;
}

.container .card .image-box img{
    max-width: 100%;
    border-radius: 9px;
}

.container .card .content{
    position: relative;
    margin-top: -140px;
    padding: 10 15px;
    text-align: center;
    color: white;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.container .card:hover .content{
    visibility: visible;
    opacity: 1;
    margin-top: -60px;
    
}

.cards{
    margin-top: 50px;
}