<div class="container">
    <h1 class="text-uppercase text-center">concept</h1>
    <div class="row justify-content-between concept">
        <div class="col-md-5 lorem">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, similique? Incidunt quae laudantium ad pariatur, qui placeat corrupti officiis excepturi! Molestias nostrum aperiam fuga nihil nobis. Molestiae repellat reprehenderit ratione?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, similique? Incidunt quae laudantium ad pariatur, qui placeat corrupti officiis excepturi! Molestias nostrum aperiam fuga nihil nobis. Molestiae repellat reprehenderit ratione?
            </p>
        </div>
        <div class="col-md-5">
            <video controls>
                <source src="movie.mp4" type="video/mp4">
            </video>
        </div>
    </div>
    <div class="row justify-content-between cards">
        <div class="col-md-4">
            <div class="card">
                <div class="image-box">
                    <img src="assets/Photos/login.png">
                </div>
                <div class="content">
                    <h2 class="text-uppercase">connecter</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, ea delectus. Nemo voluptates distinctio ut facilis iusto. Ab quod nemo</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="image-box">
                    <img src="assets/Photos/recherche.png">
                </div>
                <div class="content">
                    <h2 class="text-uppercase">recherche</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, ea delectus. Nemo voluptates distinctio ut facilis iusto. Ab quod nemo</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="image-box">
                    <img src="assets/Photos/confirmer.png">
                </div>
                <div class="content">
                    <h2 class="text-uppercase">confirmer</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, ea delectus. Nemo voluptates distinctio ut facilis iusto. Ab quod nemo</p>
                </div>
            </div>
        </div>
    </div>
</div>