<div class="container">
    <h1 class="text-center text-uppercase">contactez nous</h1>
    <div class="row justify-content-around">
        <div class="col-md-3 col1">
            <div class="phone">
                <fa-icon [icon]="faMobileAlt" class="cart" style="font-size: 3rem;"></fa-icon>
                <h4>TELEPHONE</h4>
                <p class="text-white text-center">+216 54 521 658</p>
                <p class="text-white text-center">+216 55 397 881</p>
            </div>
        </div>
        <div class="col-md-3 col1">
            <div class="adresse text-center">
                <fa-icon [icon]="faMapMarkerAlt" class="cart" style="font-size: 3rem;"></fa-icon>
                <h4 class="text-center">ADRESSE</h4>
                <p class="text-white text-center">institut supérieur des arts multimédia de la manouba</p>
            </div>
        </div>
        <div class="col-md-3 col1">
            <div class="phone text-center">
                <fa-icon [icon]="faEnvelopeOpenText" class="cart" style="font-size: 3rem;"></fa-icon>
                <h4>EMAIL</h4>
                <p class="text-white">+216 54 521 658</p>
                <p class="text-white">+216 55 397 881</p>
            </div>
        </div>
    </div>
    <div class="contact">
    <div class="row100">
        <div class="col">
            <div class="inputBox">
                <input type="text" required>
                <span class="text"> Nom </span>
                <span class="line"></span>
            </div>
        </div>
        <div class="col">
            <div class="inputBox">
                <input type="text" required>
                <span class="text"> Prénom </span>
                <span class="line"></span>
            </div>
        </div>
    </div>
    <div class="row100">
        <div class="col">
            <div class="inputBox">
                <input type="text" required>
                <span class="text"> Email </span>
                <span class="line"></span>
            </div>
        </div>
        <div class="col">
            <div class="inputBox">
                <input type="text" required>
                <span class="text"> N.Telephone </span>
                <span class="line"></span>
            </div>
        </div>
    </div>
    <div class="row100">
        <div class="col">
            <div class="inputBox textarea">
                <textarea required></textarea>
                <span class="text1" required> Ecrivez vos messages ici ... </span>
                <span class="line"></span>
            </div>
        </div>
    </div>
        <div class="col">
            <div class="inputBox forButton">
                <input type="submit" value="ENVOYER" class="btn btn-produit text-center">
            </div>
        </div>
    </div>
</div>
