<div class="container-fluid">
    <div class="container">
        <div class="text">
            <h1 class="text-uppercase"> meilleures ventes</h1>
        </div>
        <div class="tirer"></div>
    </div>
            <div id="myCarousel" class="carousel slide mb-5" data-ride="carousel" data-interval="false">
          <div class="carousel-inner mx-auto">
            <div class="carousel-item active">
              <div class="row row-cols-1 row-cols-sm-3 row-cols-md-4 row-cols-lg-5">
                <div class="col">
                    <div class="card mb-5">
                        <img class="card-img" src="assets/Photos/yaourt.png">
                            <div class="content">
                                <h4 class="text-uppercase">yaourt</h4>
                                <p class="prix1 text-uppercase text-center"><del>prix1</del></p>
                                <div class="tirer2 text-center"></div>
                                <p class="text-uppercase prix2 text-center"> prix2</p>
                            </div>
                            <button class="btn btn-produit text-center btn-block">
                                <fa-icon [icon]="faShoppingCart" class="cart"></fa-icon>
                                Ajouter au panier
                            </button>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img class="card-img" src="assets/Photos/yaourt.png">
                            <div class="content">
                                <h4 class="text-uppercase">yaourt</h4>
                                <p class="prix1 text-uppercase text-center"><del>prix1</del></p>
                                <div class="tirer2 text-center"></div>
                                <p class="text-uppercase prix2 text-center"> prix2</p>
                            </div>
                            <button class="btn btn-produit text-center btn-block">
                                <fa-icon [icon]="faShoppingCart" class="cart"></fa-icon>
                                Ajouter au panier
                            </button>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img class="card-img" src="assets/Photos/yaourt.png">
                            <div class="content">
                                <h4 class="text-uppercase">yaourt</h4>
                                <p class="prix1 text-uppercase text-center"><del>prix1</del></p>
                                <div class="tirer2 text-center"></div>
                                <p class="text-uppercase prix2 text-center"> prix2</p>
                            </div>
                            <button class="btn btn-produit text-center btn-block">
                                <fa-icon [icon]="faShoppingCart" class="cart"></fa-icon>
                                Ajouter au panier
                            </button>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img class="card-img" src="assets/Photos/yaourt.png">
                            <div class="content">
                                <h4 class="text-uppercase">yaourt</h4>
                                <p class="prix1 text-uppercase text-center"><del>prix1</del></p>
                                <div class="tirer2 text-center"></div>
                                <p class="text-uppercase prix2 text-center"> prix2</p>
                            </div>
                            <button class="btn btn-produit text-center btn-block">
                                <fa-icon [icon]="faShoppingCart" class="cart"></fa-icon>
                                Ajouter au panier
                            </button>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img class="card-img" src="assets/Photos/yaourt.png">
                            <div class="content">
                                <h4 class="text-uppercase">yaourt</h4>
                                <p class="prix1 text-uppercase text-center"><del>prix1</del></p>
                                <div class="tirer2 text-center"></div>
                                <p class="text-uppercase prix2 text-center"> prix2</p>
                            </div>
                            <button class="btn btn-produit text-center btn-block">
                                <fa-icon [icon]="faShoppingCart" class="cart"></fa-icon>
                                Ajouter au panier
                            </button>
                    </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row row-cols-1 row-cols-sm-3 row-cols-md-3 row-cols-lg-5">
                <div class="col">
                    <div class="card">
                        <img class="card-img" src="assets/Photos/yaourt.png">
                            <div class="content">
                                <h4 class="text-uppercase">yaourt</h4>
                                <p class="prix1 text-uppercase text-center"><del>prix1</del></p>
                                <div class="tirer2 text-center"></div>
                                <p class="text-uppercase prix2 text-center"> prix2</p>
                            </div>
                            <button class="btn btn-produit text-center btn-block">
                                <fa-icon [icon]="faShoppingCart" class="cart"></fa-icon>
                                Ajouter au panier
                            </button>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img class="card-img" src="assets/Photos/yaourt.png">
                            <div class="content">
                                <h4 class="text-uppercase">yaourt</h4>
                                <p class="prix1 text-uppercase text-center"><del>prix1</del></p>
                                <div class="tirer2 text-center"></div>
                                <p class="text-uppercase prix2 text-center"> prix2</p>
                            </div>
                            <button class="btn btn-produit text-center btn-block">
                                <fa-icon [icon]="faShoppingCart" class="cart"></fa-icon>
                                Ajouter au panier
                            </button>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img class="card-img" src="assets/Photos/yaourt.png">
                            <div class="content">
                                <h4 class="text-uppercase">yaourt</h4>
                                <p class="prix1 text-uppercase text-center"><del>prix1</del></p>
                                <div class="tirer2 text-center"></div>
                                <p class="text-uppercase prix2 text-center"> prix2</p>
                            </div>
                            <button class="btn btn-produit text-center btn-block">
                                <fa-icon [icon]="faShoppingCart" class="cart"></fa-icon>
                                Ajouter au panier
                            </button>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <fa-icon [icon]="faArrowAltCircleLeft" class="cart1"><span class="carousel-control-prev-icon" aria-hidden="true"></span></fa-icon>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <fa-icon [icon]="faArrowAltCircleRight" class="cart1"><span class="carousel-control-next-icon" aria-hidden="true"></span></fa-icon>
            <span class="sr-only">Next</span>
          </a>
        </div>
</div>
