<div class="container">
    <div class="text">
        <h1 class="text-uppercase"> nouveaux produits</h1>
    </div>
    <div class="tirer"></div>
            <div class="row">
                    <div class="col-md-3">
                        <div class="card">
                            <div class="image-box">
                                <img class="card-img" src="assets/Photos/yaourt.png">
                            </div>
                            <div class="content">
                                <h4 class="text-uppercase">yaourt</h4>
                                <p class="prix1 text-uppercase"><del>prix1</del></p>
                                <div class="tirer2 text-center"></div>
                                <p class="text-uppercase prix2"> prix2</p>
                                <button class="btn btn-produit text-uppercase text-center">
                                    <fa-icon [icon]="faShoppingCart" class="cart"></fa-icon>
                                    ajouter au panier
                                </button>
                            </div>
                        </div>
                    </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="image-box">
                            <img class="card-img" src="assets/Photos/farina.png">
                        </div>
                        <div class="content">
                            <h4 class="text-uppercase">Farine</h4>
                            <p class="prix1 text-uppercase"><del>prix1</del></p>
                            <div class="tirer2 text-center"></div>
                            <p class="text-uppercase prix2"> prix2</p>
                            <button class="btn btn-produit text-uppercase text-center">
                                <fa-icon [icon]="faShoppingCart" class="cart"></fa-icon>
                                ajouter au panier
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="image-box">
                            <img class="card-img" src="assets/Photos/dabouza.png" style="width: 40px;">
                        </div>
                        <div class="content">
                            <h4 class="text-uppercase">eau fourat 1.5l</h4>
                            <p class="prix1 text-uppercase"><del>prix1</del></p>
                            <div class="tirer2 text-center"></div>
                            <p class="text-uppercase prix2"> prix2</p>
                            <button class="btn btn-produit text-uppercase text-center">
                                <fa-icon [icon]="faShoppingCart" class="cart"></fa-icon>
                                ajouter au panier
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="image-box">
                            <img class="card-img" src="assets/Photos/ziiiit.png" style="width: 50px; bottom: 20%;">
                        </div>
                        <div class="content">
                            <h4 class="text-uppercase">huile</h4>
                            <p class="prix1 text-uppercase"><del>prix1</del></p>
                            <div class="tirer2 text-center"></div>
                            <p class="text-uppercase prix2"> prix2</p>
                            <button class="btn btn-produit text-uppercase text-center">
                                <fa-icon [icon]="faShoppingCart" class="cart"></fa-icon>
                                ajouter au panier
                            </button>
                        </div>
                    </div>
                </div>
     </div>
</div>