.dashboard{
    background: linear-gradient(to right top, #187B5D, #1F9F78);
}

/* .container{
    display: flex;
    justify-content: center;
    align-items: center;
} */
.text{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    padding-top: 120px;
    color: #F2D349;
    font-size: 3.5em;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.8);
    letter-spacing: 4px;
}

img{
    border-radius: 50%;
    padding: 0px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin-bottom: 13px;
}

h4{
    padding-left: 40px;
}

.dived > img, .dived > h4{
    display: inline-block;
}

.btn-partenaire{
    border-radius: 4px;
    background: #f2d349;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
    color: #1F2421;
    font-weight: bold;
    letter-spacing: 1px;
    transition: 0.3s;
    margin-bottom: 30px;
}

.btn-partenaire:hover{
    transform: translateY(-3px);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
}

.btn-partenaire:hover:active{
    transform: translateY(-2px);
}

a{
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    .btn-partenaire{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    h1{
        text-align: center;
    }
}

