<div class="container">
    <div class="row">
        <div class="text">
            <h1> Vous aussi pouvez rejoindre nos partenaires</h1>
            <div class="tirer"></div>
            <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi pariatur <br> corporis est 
            ducimus tenetur aliquid, delectus perspiciatis harum rerum <br> quae quam accusantium, eveniet, 
            ex ut vero consectetur placeat <br> voluptatibus perferendis?</p>
        </div>
    </div>
    <div class="container karousel">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="container karousel-inner">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <img class="card-img" src="assets/Photos/2.png">
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <img class="card-img" src="assets/Photos/3.png">
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <img class="card-img" src="assets/Photos/aziza.png">
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <img class="card-img" src="assets/Photos/4.png">
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev arrow" href="#carouselExampleControls" role="button" data-slide="prev">
                <fa-icon [icon]="faArrowAltCircleLeft" style="font-size: 2.5rem;"></fa-icon>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next arrow" href="#carouselExampleControls" role="button" data-slide="next">
                <fa-icon [icon]="faArrowAltCircleRight" style="font-size: 2.5rem;"></fa-icon>
              <span class="sr-only">Next</span>
            </a>
            </div>
</div>

