<div class="container">
    <div class="row">
        <div class="col col-lg-12 col-md-12">
            <div class="text">
                <h1> Vous aussi pouvez rejoindre nos partenaires</h1>
                <div class="tirer"></div>
                <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi pariatur <br> corporis est 
                ducimus tenetur aliquid, delectus perspiciatis harum rerum <br> quae quam accusantium, eveniet, 
                ex ut vero consectetur placeat <br> voluptatibus perferendis?</p>
            </div>
        </div>
    </div>
    <div class="container karousel">
            <div class="container karousel-inner">
                    <div class="row">
                        <div class="col ">
                            <div class="card">
                                <img class="card-img" src="assets/Photos/2.png">
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <img class="card-img" src="assets/Photos/3.png">
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <img class="card-img" src="assets/Photos/aziza.png">
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <img class="card-img" src="assets/Photos/4.png">
                            </div>
                        </div>
                    </div>
                </div>
              </div>
</div>

