<div class="container">
    <div class="row">
    <div class="col-lg-6 col-md-12 content">
        <div class="text">
            <h1> Nous sommes CheapShop</h1>
            <div class="tirer"></div>
            <p style="width: 500px; color:white; margin-top: 20px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi pariatur corporis est 
            ducimus tenetur aliquid, delectus perspiciatis harum rerum quae quam accusantium, eveniet, 
            ex ut vero consectetur placeat voluptatibus perferendis?</p>
        </div>
        <div class="buttons">
            <a routerLink="/products"><button class="btn btn-produit">Voir nos produits</button></a>
            <a routerLink="/professionnel"><button class="btn btn-partenaire">Devenez Partenaire</button></a>
        </div>
    </div>
    <div class="col-lg-6 col-md-12">
        <div class="tanjra">
            <img src="assets/Photos/tanjra.png">
        </div>
    </div>
    </div>
</div>

<div class="container karousel">
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="container karousel-inner">
    <div class="carousel-inner">
      <div class="carousel-item active">
            <div class="col-lg-3 col-sm-6 col-xs-12" style="float:left">
                <div class="card mb-3 cards">
                <img class="card-img image"
                    src="assets/Photos/olive-oil.png" >
                    <div class="shape">
                        <svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            viewBox="0 0 841.9 213.5" style="enable-background:new 0 0 841.9 213.5;" xml:space="preserve">
                        <style type="text/css">
                            .st0{fill:#F2D349;}
                        </style>
                        <path class="st0" d="M0,93.2c0,0,31.3-11,81.4-20.8c91.4-17.8,187.7-17.2,278.9,1c51.6,10.3,139.2,25.2,244.7,32
                            c0,0,121.7,4.3,236.8-36v143.9H0V93.2z"/>
                        </svg>
                    </div> 
                    <h6 class="text-uppercase type">minoterie</h6>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12" style="float:left">
                <div class="card mb-3 cards">
                <img class="card-img image"
                    src="assets/Photos/olive-oil.png" >
                    <div class="shape">
                        <svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            viewBox="0 0 841.9 213.5" style="enable-background:new 0 0 841.9 213.5;" xml:space="preserve">
                        <style type="text/css">
                            .st0{fill:#F2D349;}
                        </style>
                        <path class="st0" d="M0,93.2c0,0,31.3-11,81.4-20.8c91.4-17.8,187.7-17.2,278.9,1c51.6,10.3,139.2,25.2,244.7,32
                            c0,0,121.7,4.3,236.8-36v143.9H0V93.2z"/>
                        </svg>
                    </div>  
                    <h6 class="text-uppercase type">formagerie</h6>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12" style="float:left">
                <div class="card mb-3 cards">
                <img class="card-img image"
                    src="assets/Photos/olive-oil.png" >
                    <div class="shape">
                        <svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            viewBox="0 0 841.9 213.5" style="enable-background:new 0 0 841.9 213.5;" xml:space="preserve">
                        <style type="text/css">
                            .st0{fill:#F2D349;}
                        </style>
                        <path class="st0" d="M0,93.2c0,0,31.3-11,81.4-20.8c91.4-17.8,187.7-17.2,278.9,1c51.6,10.3,139.2,25.2,244.7,32
                            c0,0,121.7,4.3,236.8-36v143.9H0V93.2z"/>
                        </svg>
                    </div> 
                    <h6 class="text-uppercase type">huilerie</h6>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12" style="float:left">
                <div class="card mb-3 cards">
                <img class="card-img image"
                    src="assets/Photos/olive-oil.png" >
                    <div class="shape">
                        <svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            viewBox="0 0 925 213.5" style="enable-background:new 0 0 925 213.5;" xml:space="preserve">
                        <style type="text/css">
                            .st0{fill:#F2D349;}
                        </style>
                        <path class="st0" d="M0,93.2c0,0,34.4-11,89.5-20.8c100.4-17.8,206.3-17.2,306.5,1c56.7,10.3,152.9,25.2,268.9,32
                            c0,0,133.7,4.3,260.2-36v143.9H0V93.2z"/>
                        </svg>
                    </div> 
                    <h6 class="text-uppercase type">biscuiterie</h6>
                </div>
            </div>
        </div>
      </div>
    </div>
    </div>
  </div>

