<nav class="navbar navbar-expand-lg navbar-light" (scroll)="onWindowScroll($event);">
    <div class="container">
    <a class="navbar-brand" routerLink="/"><img src="assets/Photos/1.png"  style="width : 250px">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse justify-content-center text-uppercase" id="navbarSupportedContent">
      <ul class="navbar-nav menu">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/">Particulier</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/professionnel">Professionnel</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Connexion/s'inscrire</a>
          </li>    
      </ul>
    </div>
        <div class="search">
            <fa-icon [icon]="faSearch"></fa-icon>
        </div>
    <fa-icon [icon]="faShoppingCart" class="cart"></fa-icon>
</div>
  </nav>


<router-outlet></router-outlet>


<footer class="px-5">
  <div class="container footer1">
      <div class="row py-4">
          <div class="col-lg-4 col-sm6">
              <ul class="list-unstyled menu2">
                  <li>
                      <a href="#" class="footer-link">A propos de nous</a>
                  </li>
                  <li>
                      <a href="#" class="footer-link">Partenaires</a>
                  </li>
                  <li>
                      <a href="#" class="footer-link">Contactez nous</a>
                  </li>
              </ul>
          </div>
          <div class="col-lg-4 col-sm6">
              <ul class="list-unstyled menu2">
                  <li>
                      <a href="#" class="footer-link">Devenez un partenaire</a>
                  </li>
                  <li>
                      <a href="#" class="footer-link">Produits</a>
                  </li>
                  <li>
                      <a href="#" class="footer-link">Comment ca marche</a>
                  </li>
              </ul>
          </div>
          <div class="col-lg-2 col-sm6">
              
          </div>
          <div class="col-lg-2 col-sm6">
              <h3 class="reseau">Réseau sociaux</h3>
              <div class="icons">
                  <ul class="list-inline menu2">
                      <li class="list-inline-item"><a href="#"><fa-icon [icon]="faFacebookF"></fa-icon></a></li>
                      <li class="list-inline-item"><a href="#"><fa-icon [icon]="faInstagram"></fa-icon></a></li>
                      <li class="list-inline-item"><a href="#"><fa-icon [icon]="faYoutube"></fa-icon></a></li>
                      <li class="list-inline-item"><a href="#"><fa-icon [icon]="faLinkedinIn"></fa-icon></a></li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col text-center text-light border-top pt-3 trait">
              <p>&copy; 2020 SHEAPSHOP Inc. Tous droits réservés.</p>
          </div>
      </div>
  </div>
</footer>