<nav class="navbar  navbar-expand-lg navbar-expand-md navbar-light" (scroll)="onWindowScroll($event);">
    <div class="container">
    <a class="navbar-brand" routerLink="/"><img src="assets/Photos/1.png"  style="width : 250px">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse text-uppercase" id="navbarSupportedContent">
      <ul class="navbar-nav menu">
        <li class="nav-item dropdown">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/particulier">Particulier</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/professionnel">Professionnel</a>
        </li>
        <ng-template #anonymousUser>
            <li class="nav-item pointer">
                <a class="nav-link" (click)="openDialog()">Connexion/s'inscrire</a>
             </li>
        </ng-template>
        <li *ngIf="auth.user$ | async as user; else anonymousUser" class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ user.displayName }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" routerLink="/achats">Achats</a>
              <a class="dropdown-item" routerLink="/profile">Profile</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" (click)="logout()">Déconnexion</a>
            </div>
          </li>
      </ul>
      <a routerLink="/myorders" class="cart1">
        <fa-icon [icon]="faShoppingCart" class="cart"></fa-icon>
        <span class="badge" *ngIf="cart$ | async as cart">
            {{ cart.totalItemsCount }}
        </span>
      </a>
    </div>
         
    </div>
  </nav>


<router-outlet></router-outlet>


<footer class="px-5">
  <div class="container footer1">
      <div class="row py-4">
          <div class="col-lg-4 col-sm-6">
              <ul class="list-unstyled menu2">
                  <li>
                      <a href="#" class="footer-link">A propos de nous</a>
                  </li>
                  <li>
                      <a href="#" class="footer-link">Partenaires</a>
                  </li>
                  <li>
                      <a href="#" class="footer-link">Contactez nous</a>
                  </li>
              </ul>
          </div>
          <div class="col-lg-4 col-sm-6">
              <ul class="list-unstyled menu2">
                  <li>
                      <a href="#" class="footer-link">Devenez un partenaire</a>
                  </li>
                  <li>
                      <a href="#" class="footer-link">Produits</a>
                  </li>
                  <li>
                      <a href="#" class="footer-link">Comment ca marche</a>
                  </li>
              </ul>
          </div>
          <div class="col-lg-2 col-sm-6">
              
          </div>
          <div class="col-lg-2 col-sm-6">
              <h3 class="reseau">Réseau sociaux</h3>
              <div class="icons">
                  <ul class="list-inline menu2">
                      <li class="list-inline-item"><a href="#"><fa-icon [icon]="faFacebookF"></fa-icon></a></li>
                      <li class="list-inline-item"><a href="#"><fa-icon [icon]="faInstagram"></fa-icon></a></li>
                      <li class="list-inline-item"><a href="#"><fa-icon [icon]="faYoutube"></fa-icon></a></li>
                      <li class="list-inline-item"><a href="#"><fa-icon [icon]="faLinkedinIn"></fa-icon></a></li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col text-center text-light border-top pt-3 trait">
              <p>&copy; 2020 SHEAPSHOP Inc. Tous droits réservés.</p>
          </div>
      </div>
  </div>
</footer>