<div class="container">
    <div class="row">
        <h1 class="text-uppercase text-center"> pourquoi etre un partenaire ?</h1>
    </div>
    <div class="row">
        <div class="col-md-4 text-center argument">
            <img src="assets/Photos/dev1.png">
            <h4> Réduisez votre empreinte carbone</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam consequuntur doloremque odit! Qui voluptate impedit omnis vel fuga hic, rem facere ad nostrum! Quidem architecto odit culpa minus illo ducimus.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam consequuntur doloremque odit! Qui voluptate impedit omnis vel fuga hic, rem facere ad nostrum! Quidem architecto odit culpa minus illo ducimus.</p>
        </div>
        <div class="col-md-4 text-center argument">
            <img src="assets/Photos/dev2.png">
            <h4> Attirez un nouveau flux de clients</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam consequuntur doloremque odit! Qui voluptate impedit omnis vel fuga hic, rem facere ad nostrum! Quidem architecto odit culpa minus illo ducimus.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam consequuntur doloremque odit! Qui voluptate impedit omnis vel fuga hic, rem facere ad nostrum! Quidem architecto odit culpa minus illo ducimus.</p>
        </div>
        <div class="col-md-4 text-center argument">
            <img src="assets/Photos/dev3.png">
            <h4> Vos pertes deviennent vos gains</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam consequuntur doloremque odit! Qui voluptate impedit omnis vel fuga hic, rem facere ad nostrum! Quidem architecto odit culpa minus illo ducimus.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam consequuntur doloremque odit! Qui voluptate impedit omnis vel fuga hic, rem facere ad nostrum! Quidem architecto odit culpa minus illo ducimus.</p>
        </div>
    </div>
</div>
    <div class="ask-partenaire">
            <h1 class="text-uppercase text-center partner">devenez partenaire ?</h1>
            <h4 class="text-white text-center formulaire"> Veuillez remplir le formulaire ci-dessous et on va vous contacter <br> dans un délais de 48 heures. </h4>
        <div class="container container1">
            <div class="contact">
                <div class="row100 row1">
                    <div class="col">
                        <div class="inputBox">
                            <input type="text" required>
                            <span class="text"> Nom </span>
                            <span class="line"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="inputBox">
                            <input type="text" required>
                            <span class="text"> Prénom </span>
                            <span class="line"></span>
                        </div>
                    </div>
                </div>
                <div class="row100 row1">
                    <div class="col">
                        <div class="inputBox">
                            <input type="text" required>
                            <span class="text"> Email </span>
                            <span class="line"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="inputBox">
                            <input type="text" required>
                            <span class="text"> N.Telephone </span>
                            <span class="line"></span>
                        </div>
                    </div>
                </div>
                <div class="row100">
                    <div class="col">
                        <div class="inputBox textarea">
                            <textarea required></textarea>
                            <span class="text1" required> Petite description de votre boutique ou magasin .. </span>
                            <span class="line"></span>
                        </div>
                    </div>
                </div>
                    <div class="col">
                        <div class="inputBox forButton">
                            <input type="submit" value="Envoyer" class="btn btn-produit text-center">
                        </div>
                    </div>
                    
                <!-- /////////////////////////////////////////////// -->
                <!-- <div class="row100">
                    <div class="col">
                        <div class="inputBox">
                            <input type="text" required>
                            <span class="text"> Nom de votre boutique </span>
                            <span class="line"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="inputBox">
                            <input type="text" required>
                            <span class="text"> Domaine d'activité </span>
                            <span class="line"></span>
                        </div>
                    </div>
                </div>
                <div class="row100">
                    <div class="col">
                        <div class="inputBox">
                            <input type="text" required>
                            <span class="text"> Adresse du boutique ou magasin </span>
                            <span class="line"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="inputBox">
                            <input type="text" required>
                            <span class="text"> Adresse 2 (si elle existe) </span>
                            <span class="line"></span>
                        </div>
                    </div>
                </div>
                    <div class="col">
                        <div class="inputBox forButton">
                            <input type="submit" value="Retour" class="btn btn-produit text-center">
                            <input type="submit" value="Continuer" class="btn btn-produit text-center">
                        </div>
                    </div>
                    <div class="row100">
                        <div class="col">
                            <div class="inputBox textarea">
                                <textarea required></textarea>
                                <span class="text1" required> Une petite description de vos produits </span>
                                <span class="line"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="inputBox forButton">
                            <input type="submit" value="Envoyer" class="btn btn-produit text-center">
                        </div>
                    </div> -->
        </div>
    </div>
        
        

